body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
}

form {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
}

button {
    margin-top: 10px;
}

#todo-list,
#note-list {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}